<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="centered-container">
    <form id="login-form" class="auth-form">
      <h2>Login</h2>
      <input name="name" type="text" placeholder="Username" required>
      <input name="password" type="password" placeholder="Password" required>
      <button type="submit" class="menu-button">Login</button>
    </form>
  </div>
  <script src="/static/js/main.js"></script>
</body>
</html>